In [6]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import json
from importlib import reload
import ast

In [2]:
paths = ['src/data','src/models','src/scripts','src/utils']
for path in paths:
    sys.path.append(path)

In [20]:
df_movies = pd.read_csv('data/cleanData/movies_cleaned.csv')
df_movies.head()

,wiki_id,freebase_id,original_title,release_date,revenue,runtime,languages,countries,genres,countries_freebase_id,languages_freebase_id,genres_freebase_id
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,['English Language'],['United States of America'],"['Thriller', 'Science Fiction', 'Horror', 'Adv...",['/m/09c7w0'],['/m/02h40lc'],"['/m/01jfsb', '/m/06n90', '/m/03npn', '/m/03k9..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,['English Language'],['United States of America'],"['Mystery', 'Biographical film', 'Drama', 'Cri...",['/m/09c7w0'],['/m/02h40lc'],"['/m/02n4kr', '/m/03bxz7', '/m/07s9rl0', '/m/0..."
2,28463795,/m/0crgdbh,Brun bitter,1988-01-01,NaN,83.0,['Norwegian Language'],['Norway'],"['Crime Fiction', 'Drama']",['/m/05b4w'],['/m/05f_3'],"['/m/0lsxr', '/m/07s9rl0']"
3,9363483,/m/0285_cd,White Of The Eye,1987-01-01,NaN,110.0,['English Language'],['United Kingdom'],"['Thriller', 'Erotic thriller', 'Psychological...",['/m/07ssc'],['/m/02h40lc'],"['/m/01jfsb', '/m/0glj9q', '/m/09blyk']"
4,261236,/m/01mrr1,A Woman in Flames,1983-01-01,NaN,106.0,['German Language'],['Germany'],['Drama'],['/m/0345h'],['/m/04306rv'],['/m/07s9rl0']

In [3]:
import generalUtils

In [17]:
df_movies['countries'] = df_movies['countries'].apply(lambda x: ast.literal_eval(x))
df_movies['countries_freebase_id'] = df_movies['countries_freebase_id'].apply(lambda x: ast.literal_eval(x))

In [18]:
from generalUtils import transformCountryNameGpd
df_movies['country'] = df_movies['countries_freebase_id'].apply(transformCountryNameGpd)

In [22]:
from scriptculture import process_data_us_influence          # Import the function that processes the data for this study

df_us_influence_final = process_data_us_influence()
df_us_influence_final.head()

,Country,US_Term_Count,Number of movies,Influence_score,log_number_of_movies,World_region,nlp_score
0,France,531,2297,0.231171,7.739359,Europe,0.131262
1,Soviet Union,30,255,0.117647,5.541264,Eastern Europe and Central Asia,0.079629
2,Russia,18,217,0.082949,5.379897,Eastern Europe and Central Asia,0.099043
3,India,262,4752,0.055135,8.466321,South Asia,0.079816
4,Australia,160,748,0.213904,6.617403,Oceania,0.157515

In [23]:
df_us_influence_final['Country'].value_counts()

Country
France             1
Soviet Union       1
Russia             1
India              1
Australia          1
                  ..
Iraqi Kurdistan    1
Ukranian SSR       1
Haiti              1
Turkmenistan       1
Crime              1
Name: count, Length: 143, dtype: int64

In [14]:
df_movies.head()

,wiki_id,freebase_id,original_title,release_date,revenue,runtime,languages,countries,genres,countries_freebase_id,languages_freebase_id,genres_freebase_id,country
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,['English Language'],[United States of America],"['Thriller', 'Science Fiction', 'Horror', 'Adv...",[/m/09c7w0],['/m/02h40lc'],"['/m/01jfsb', '/m/06n90', '/m/03npn', '/m/03k9...",[United States of America]
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,['English Language'],[United States of America],"['Mystery', 'Biographical film', 'Drama', 'Cri...",[/m/09c7w0],['/m/02h40lc'],"['/m/02n4kr', '/m/03bxz7', '/m/07s9rl0', '/m/0...",[United States of America]
2,28463795,/m/0crgdbh,Brun bitter,1988-01-01,NaN,83.0,['Norwegian Language'],[Norway],"['Crime Fiction', 'Drama']",[/m/05b4w],['/m/05f_3'],"['/m/0lsxr', '/m/07s9rl0']",[Norway]
3,9363483,/m/0285_cd,White Of The Eye,1987-01-01,NaN,110.0,['English Language'],[United Kingdom],"['Thriller', 'Erotic thriller', 'Psychological...",[/m/07ssc],['/m/02h40lc'],"['/m/01jfsb', '/m/0glj9q', '/m/09blyk']",[United Kingdom]
4,261236,/m/01mrr1,A Woman in Flames,1983-01-01,NaN,106.0,['German Language'],[Germany],['Drama'],[/m/0345h],['/m/04306rv'],['/m/07s9rl0'],[Germany]

In [ ]:
import scriptculture
from scriptculture import process_data_us_influence_nlp

df_characters = pd.read_csv('data/cleanData/characters_cleaned.csv')
df_summary = pd.read_csv('data/cleanData/summaries_cleaned.csv')
df_cluster = pd.read_csv('data/cleanData/character_clusters_cleaned.csv')
df_us_influence_nlp = process_data_us_influence_nlp()

In [21]:
df_movies_merge = pd.merge(df_summary, df_movies, how='inner')

    # Convert country data to a list
df_movies_merge['countries'] = df_movies_merge['countries'].apply(lambda x: ast.literal_eval(x))

    # Create a 'word_list' column containing words from the summary
df_movies_merge['word_list'] = df_movies_merge['summary'].apply(lambda x: x.split())

    # Add a 'us_terms_count' column with the count of US-related terms found

df_movies_merge.head()

,wiki_id,summary,freebase_id,original_title,release_date,revenue,runtime,languages,countries,genres,countries_freebase_id,languages_freebase_id,genres_freebase_id,word_list
0,23890098,"Shlykov, a hard-working taxi driver and Lyosha...",/m/076w2lb,Taxi Blues,1990-09-07,NaN,110.0,['Russian Language'],"[France, Soviet Union, Russia]","['Drama', 'World cinema']","['/m/0f8l9c', '/m/05vz3zq', '/m/06bnz']",['/m/06b_j'],"['/m/07s9rl0', '/m/03q4nz']","[Shlykov,, a, hard-working, taxi, driver, and,..."
1,31186339,The nation of Panem consists of a wealthy Capi...,/m/0gkz15s,The Hunger Games,2012-03-12,686533290.0,142.0,['English Language'],[United States of America],"['Action/Adventure', 'Science Fiction', 'Actio...",['/m/09c7w0'],['/m/02h40lc'],"['/m/03btsm8', '/m/06n90', '/m/02kdv5l', '/m/0...","[The, nation, of, Panem, consists, of, a, weal..."
2,20663735,Poovalli Induchoodan is sentenced for six yea...,/m/051zjwb,Narasimham,2000-01-01,NaN,175.0,['Malayalam Language'],[India],"['Musical', 'Action', 'Drama', 'Bollywood']",['/m/03rk0'],['/m/0999q'],"['/m/04t36', '/m/02kdv5l', '/m/07s9rl0', '/m/0...","[Poovalli, Induchoodan, is, sentenced, for, si..."
3,2231378,"The Lemon Drop Kid , a New York City swindler,...",/m/06xtz3,The Lemon Drop Kid,1951-03-08,2300000.0,91.0,['English Language'],[United States of America],"['Screwball comedy', 'Comedy']",['/m/09c7w0'],['/m/02h40lc'],"['/m/06qm3', '/m/01z4y']","[The, Lemon, Drop, Kid, ,, a, New, York, City,..."
4,595909,Seventh-day Adventist Church pastor Michael Ch...,/m/02tqm5,A Cry in the Dark,1988-11-03,6908797.0,121.0,['English Language'],"[United States of America, Australia, New Zeal...","['Crime Fiction', 'Drama', 'Docudrama', 'World...","['/m/09c7w0', '/m/0chghy', '/m/0ctw_b']",['/m/02h40lc'],"['/m/0lsxr', '/m/07s9rl0', '/m/01f9r0', '/m/03...","[Seventh-day, Adventist, Church, pastor, Micha..."