# Topics Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/topicModelData/summaries_with_topics.csv')
df.head()

,wiki_id,cleaned_summary,language,topic,topic_name
0,23890098,shlykov hard work taxi driver lyosha saxophoni...,en,-1,Unclassified
1,31186339,nation panem consist wealthy capitol twelve po...,en,-1,Unclassified
2,20663735,poovalli induchoodan sentence six year prison ...,en,0,Love & Family
3,2231378,lemon drop kid new york city swindler illegall...,en,-1,Unclassified
4,595909,seventh day adventist church pastor michael ch...,en,-1,Unclassified

In [4]:
df = df[df['topic'] != -1]
df['topic_name'].value_counts()

topic_name
Love & Family     7433
Crime             4606
Investigation     1384
Martial Arts      1165
Family Drama       673
Sci-Fi Earth       638
Civil War          477
French Life        396
WWII               356
Space              352
Pirates            286
USSR               227
Soldiers           224
Cartoons           219
Monsters           217
Sports             211
Samurai            181
Tom & Jerry        158
Royalty            152
Christmas          150
Stooges            146
Africa             134
Charlie Brown      108
Middle East        104
College             97
Disney              92
Tokyo Life          91
Fantasy             85
Pink Panther        84
Yakuza              83
Jungle              80
Racing              77
Musketeers          75
Laurel & Hardy      69
Betty Boop          58
Godzilla            54
Roman Empire        54
Politics            52
School Life         51
Boxing              50
Name: count, dtype: int64