# Topics Analysis

In [13]:
# Modules to import
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from dash import *
import geopandas as gpd

In [3]:
# Paths to add
paths = ['../data','../scripts','../utils']
for path in paths:
    sys.path.append(path)
    
# Data loader
from dataLoader import loadDataframe

# Load data
path_to_directory = '../../data/cleanData/'
df_movies = loadDataframe('movies', path_to_directory)

c:\Users\arnau\OneDrive\Documents\Scolarit√© EPFL\ADA\ada-2024-project-teamcsx24\src\data\dataLoader.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[columns_to_convert] = df[columns_to_convert].applymap(eval)

In [4]:
from generalUtils import transformCountryNameGpd
from generalUtils import attachWorldRegion

In [5]:
df_movies['countries'] = df_movies['countries_freebase_id'].apply(transformCountryNameGpd)

df_genres_countries_exploded = df_movies.explode('genres').explode('countries')

df_genres_countries_exploded.dropna(subset=['countries','release_date','genres'], inplace=True)

df_genres_countries_exploded['region'] = df_genres_countries_exploded['countries'].apply(attachWorldRegion)

In [6]:
df = pd.read_csv('../../data/topicModelData/summaries_with_topics.csv')
df.head()

,wiki_id,cleaned_summary,language,topic,topic_name
0,23890098,shlykov hard work taxi driver lyosha saxophoni...,en,-1,Unclassified
1,31186339,nation panem consist wealthy capitol twelve po...,en,-1,Unclassified
2,20663735,poovalli induchoodan sentence six year prison ...,en,0,Love & Family
3,2231378,lemon drop kid new york city swindler illegall...,en,-1,Unclassified
4,595909,seventh day adventist church pastor michael ch...,en,-1,Unclassified

In [7]:
df = df[df['topic'] != -1]
df['topic_name'].value_counts()

topic_name
Love & Family     7433
Crime             4606
Investigation     1384
Martial Arts      1165
Family Drama       673
Sci-Fi Earth       638
Civil War          477
French Life        396
WWII               356
Space              352
Pirates            286
USSR               227
Soldiers           224
Cartoons           219
Monsters           217
Sports             211
Samurai            181
Tom & Jerry        158
Royalty            152
Christmas          150
Stooges            146
Africa             134
Charlie Brown      108
Middle East        104
College             97
Disney              92
Tokyo Life          91
Fantasy             85
Pink Panther        84
Yakuza              83
Jungle              80
Racing              77
Musketeers          75
Laurel & Hardy      69
Betty Boop          58
Godzilla            54
Roman Empire        54
Politics            52
School Life         51
Boxing              50
Name: count, dtype: int64

In [8]:
# Merge df with df_movies_region on wiki_id
df = df.merge(df_genres_countries_exploded, on='wiki_id')
df.head()

,wiki_id,cleaned_summary,language,topic,topic_name,freebase_id,original_title,release_date,revenue,runtime,languages,countries,genres,countries_freebase_id,languages_freebase_id,genres_freebase_id,region
0,20663735,poovalli induchoodan sentence six year prison ...,en,0,Love & Family,/m/051zjwb,Narasimham,2000-01-01,NaN,175.0,[Malayalam Language],India,Musical,[/m/03rk0],[/m/0999q],"[/m/04t36, /m/02kdv5l, /m/07s9rl0, /m/01chg]",South Asia
1,20663735,poovalli induchoodan sentence six year prison ...,en,0,Love & Family,/m/051zjwb,Narasimham,2000-01-01,NaN,175.0,[Malayalam Language],India,Action,[/m/03rk0],[/m/0999q],"[/m/04t36, /m/02kdv5l, /m/07s9rl0, /m/01chg]",South Asia
2,20663735,poovalli induchoodan sentence six year prison ...,en,0,Love & Family,/m/051zjwb,Narasimham,2000-01-01,NaN,175.0,[Malayalam Language],India,Drama,[/m/03rk0],[/m/0999q],"[/m/04t36, /m/02kdv5l, /m/07s9rl0, /m/01chg]",South Asia
3,20663735,poovalli induchoodan sentence six year prison ...,en,0,Love & Family,/m/051zjwb,Narasimham,2000-01-01,NaN,175.0,[Malayalam Language],India,Bollywood,[/m/03rk0],[/m/0999q],"[/m/04t36, /m/02kdv5l, /m/07s9rl0, /m/01chg]",South Asia
4,1952976,plot open 1974 young girl dahlia stand outside...,en,1,Crime,/m/068jvg,Dark Water,2005-06-27,49483352.0,105.0,[English Language],United States of America,Thriller,[/m/09c7w0],[/m/02h40lc],"[/m/01jfsb, /m/07s9rl0, /m/03npn]",North America

### Analysis of the topics propagation

In [37]:
# Select a topic
topic = 'WWII'

df_topic = df[df['topic_name'] == topic]

# Number of countries where the topic is present
print(f'Number of countries where the topic {topic} is present: {df_topic["countries"].nunique()}')

# Number of regions where the topic is present
print(f'Number of regions where the topic {topic} is present: {df_topic["region"].nunique()}')

# Number of movies where the topic is present
print(f'Number of movies where the topic {topic} is present: {df_topic["wiki_id"].nunique()}')

Number of countries where the topic WWII is present: 32
Number of regions where the topic WWII is present: 7
Number of movies where the topic WWII is present: 322